<%
for(var i=0; i<messages.length; i++) {
    var m = messages[i];
%>
<div class="<%=(app.user.uid == m.uid)?'chat-ms-self':'chat-ms-other' %>">
    <div class="chat-ms-box">
        <div class="chat-ms-ava"></div>
        <div class="chat-ms-content">
            <div class="chat-ms-name"><%=m.name %></div>
            <div class="chat-ms-text"><%=m.text %></div>
        </div>
    </div>
</div>
<% } %>