<div id="chat-content">
    <div id="message-box"></div>
</div>

<div class="chat-form">
    <div>
        <div class="input-group">
            <input type="text" class="form-control" id="chatText" placeholder="Текст сообщения...">
            <span class="input-group-btn">
                <button class="btn btn-default" id="btnChatSend" type="button"><span class="glyphicon glyphicon-send"></span></button>
            </span>
        </div>
    </div>
</div>