<div class="ccm-table">
    <div class="chat-rooms">
        <%
        var keys = Object.keys(rooms);
        for(var i=0; i<keys.length; i++) {
            var key = keys[i];
            var room = rooms[key];
        %>
        <div data-gid="<%=room.gid %>" class="text-center room-<%=room.gid %>">
            <span class="glyphicon glyphicon-<%=room.ico %>"></span>
            <%=room.title %>
            <div class="chat-room-notify<% if(!room.notify) {%> unvisible<% } %>">!</div>
        </div>
        <% } %>
    </div>
</div>