<div class="child-account box">
    <div class="box-content">
        <p>
            <% if(!account) { %>
            <input type="text" name="accountName" id="accountName" class="form-control" placeholder="Имя пользователя">
            <% } else { %>
                <h4>Имя пользователя: <%=account.login %></h4>
            <% } %>
        </p>
        <p>
            <input type="password" name="accountPass" id="accountPass" class="form-control" placeholder="Пароль">
        </p>
        <p style="text-align: center;">
            <button class="btn btn-primary" id="studentAccountBtn">Сохранить</button>
        </p>
    </div>
</div>