<div class="plank">
    <div class="plank-header">О компании</div>
    <div class="plank-content">
        <div>
            «Кибер-Карта» – инновационный программно-аппаратный комплекс для школ,
            созданный в рамках общефедерального национального проекта «Образование».
        </div>
        <div>Адрес: 413100, Саратовская область, г. Энгельс, ул. Маяковского, 43</div>
        <div>Тел.: 8 (8453) 543-222 и 8-800-333-64-04 (звонок бесплатный)</div>
    </div>
</div>

<div class="plank">
    <div class="plank-header">О приложении</div>
    <div class="plank-content sys-info">
        <div>Версия сборки: 0.2.20</div>
        <div>Дата сборки: 13:31 - 06.03.2016</div>
    </div>
</div>