<% if(days.length == 0) { %>
<div class="text-center">нет данных</div>
<% } 
var dd = app.dictionary.days; //--- Dictionary days
for(var i in days) {
    var id = parseInt(i) + 1;
    var lessons = days[i].content;
    var cnt = lessons.length;
%>
    <div class="box">
        <div class="box-header"><%=dd[id].name + ' / '+cnt+' урок'+(cnt==1?'':(cnt<=4?'а':'ов')) %></div>
        <div class="box-list">
            <%
            for(var j in lessons) {
                var ls = lessons[j];
            %>
            <div>
                <div class="lesson-time">
                    <%=ls.beginTime %><br><%=ls.endTime %>
                </div>
                <div class="lesson-name"><%=ls.subject.name %></div>
            </div>
            <% } %>
        </div>
    </div>
    
<% } %>