<div class="box-auth">
    <div class="header">
        <div class="auth-logo">
            <img src="files/img/logo.png" /> <span>Кибер-Карта</span>
        </div>
    </div>
    <div>
        <div class="form-auth">
            <div>
                <div class="box">
                    <div class="box-header">
                        Авторизация
                    </div>
                    <div class="box-content">
                        <div>
                             <input type="text" id="login" placeholder="Логин" value="" class="form-control" />
                        </div>
                        <div>
                             <input type="password" id="password" placeholder="Пароль" value="" class="form-control" />
                        </div>
                        <div>
                            <button id="btn-login" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Вход</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>
            Все права защищены
        </div>
    </div>
</div>