<div>
    <div class="menu-header">
        <div class="menu-header-logo"></div>
        <div class="menu-header-title"></div>
    </div>
    <div class="menu-items">
        <%
        for(var i=0; i<items.length; i++) {
            var item = items[i]; %>
            
        <div class="menu-item" data-key="<%=item.key %>">
            <div class="menu-item-icon">
                <span class="glyphicon glyphicon-<%=item.icon %>"></span>
            </div>
            <div class="menu-item-title"><%=item.title %></div>
            <div class="menu-item-event"><span class="badge"><%=(item.event > 0)?((item.event>99)?'+99':item.event):'' %></span></div>
        </div>
        
        <% } %>
    </div>
</div>