<div class="plank">
    <div class="news-item">
        <div class="news-img">
            <img src="<%=item.ico %>">
        </div>
        <div class="news-text">
            <div class="plank-header"><%=item.title %></div>
            <div><%=item.description %></div>
            <div class="news-date"><%=(new Date(item.date)).textFormat() %></div>
        </div>
    </div>
</div>