<div class="news">
    <% for(var i=0; i<news.length; i++) {
        var n = news[i]; %>
        <div class="plank" data-nid="<%=i%>">
          <div class="news-item">
            <div class="news-img">
              <img src="<%=n.ico %>">
            </div>
            <div class="news-text">
              <div class="news-header"><%=n.from %></div>
              <div><%=n.title %></div>
              <div class="news-date"><%=(new Date(n.date)).textFormat() %></div>
            </div>
            <div class="news-btn">
              <span class="glyphicon glyphicon-menu-right"></span>
            </div>
          </div>
        </div>
    <% } %>


  
  <!-- 
  <div class="box">
    <div class="news-item">
      <div class="news-img">
        <img src="files/img/dr.png">
      </div>
      <div class="news-text">
        <div class="news-header">Директор: Злорадова Человека Канибаловна</div>
        <div>Осталось всего несколько дней до начала учебного года. Молитесь хорьки! Я всю дурь из вас выбью!</div>
        <div class="news-date">14:27 - 29.08.2015</div>
      </div>
      <div class="news-btn">
        <span class="glyphicon glyphicon-menu-right"></span>
      </div>
    </div>
  </div>
  
  <div class="box">
    <div class="news-item">
      <div class="news-img">
        <img src="files/img/tch.png">
      </div>
      <div class="news-text">
        <div class="news-header">Кл.рук.: Милованова Екатерина Александровна</div>
        <div>Дорогие мои ученики! Надеюсь ваши каникулы прошли удачно, вы отдохнули и готовы вновь бороздить океаны знаний в нашем маленьком кораблике "Вдохновение".</div>
        <div class="news-date">10:38 - 28.08.2015</div>
      </div>
      <div class="news-btn">
        <span class="glyphicon glyphicon-menu-right"></span>
      </div>
    </div>
  </div>

 -->
</div>