<%
if(app.user.is('parent')) {
for(var i=0; i<childs.length; i++) {
    var child = childs[i];
%>
<div class="profile-content">
    <div class="pc-table">
        <div class="pc-row">
            <div class="profile-content--avatar">
                <div style="background-image: url('https://ws.classcard.ru/cab.online.ws<%=child.avatar %>');"></div>
                <!--<span class="label label-success">в сети</span>-->
            </div>
            <div class="profile-content--content" id="profile-child-<%=child.id %>">
                <div><b><%=child.lastName %> <%=child.firstName %></b></div>
                <div class="profile-event">Последнее событие: <span><% if(child.event) { %><b><%=child.event.time %> - <%=child.event.message %></b> <% } else { %> нет данных <% } %></span></div>
                <div>Номер карты: <b><%=child.cardOperationsInfo.number %></b></div>
                <div>Баланс по питанию: <b><%=child.balance %> руб.</b></div>
                <div>Тариф: <b><%=child.tarif.name %> (<%=child.tarif.price %> руб.)</b></div>
                <div>Школа: <b><%=child.schoolInfo.name %></b></div>
                <div>Класс: <b><%=child.classInfo.name %></b></div>
            </div>
        </div>
    </div>

    <div class="profile-menu">

        <%
        var listMenu = menu(child.id);
        for(var j=0; j<listMenu.length; j++) {
            var m = listMenu[j];
            m.url = m.url.replace("{sid}", child.id);
        %>
        <button class="btn btn-primary btn-xs" data-url="<%=m.url %>">
            <span class="glyphicon glyphicon-<%=m.icon %>"></span>
            <%=m.title %>
        </button>
        <% } %>
    </div>

</div>
<% 
    }
} else if(app.user.is('student')) {
%>
<%=app.view('lesson', {days: days}, {output: true}) %>
<% } %>