<div class="profile-header">
    <div class="profile-header--avatar">
        <div style="background-image: url('https://ws.classcard.ru/cab.online.ws<%=avatar %>');"></div>
    </div>
    <div class="profile-header--content">
        <div><b><%=lastName %> <%=firstName %></b></div>
        <div>Номер карты: <b><%=cardOperationsInfo.number %></b></div>
        <div>Баланс по питанию: <b><%=balance %> руб.</b></div>
        <div>Школа: <b><%=schoolInfo.name %></b></div>
        <div>Класс: <b><%=classInfo.name %></b></div>
    </div>
</div>