<div class="profile-header">
    <div class="profile-header--avatar">
        <div style="background-image: url('https://ws.classcard.ru/cab.online.ws<%=avatar %>');"></div>
    </div>
    <div class="profile-header--content">
        <div><b><%=name %></b></div>
        <div>Баланс по карте: <b><%=debt %> руб.</b></div>
        <div>Номер лицевого счета: <b><%=accountNumber %></b></div>
        <div>Адрес: <b><%=address %></b></div>
        <div>Телефон: <b><%=phone %></b></div>
    </div>
</div>