<div class="profile">
    <div class="selfInfo">
        <div class="photo pd">
            <img src="https://ws.classcard.ru/cab.online.ws/<%=student.avatar %>" />
        </div>
        <div class="pd">
            <div><b><%=student.lastName %></b></div>
            <div><b><%=student.firstName %> <%=student.middleName %></b></div>
            <div><%=student.schoolInfo.name %></div>
            <div>Класс: <%=student.classInfo.name %></div>
            <div>Карта: <%=student.cardOperationsInfo.number %></div>
            <div>Баланс: <%=student.cardOperationsInfo.balance %> руб.</div>
        </div>
    </div>
    
    <div class="box">
        <div>
            <ul class="table-view">
                <li class="table-view-cell media">
                    <a class="navigate-right" href="#profile-lesson_<%=student.id %>">
                      <div class="media-body">Расписание</div>
                    </a>
                </li>
                <li class="table-view-cell media">
                    <a class="navigate-right" href="#profile-visits_<%=student.id %>">
                      <div class="media-body">Журнал посещений</div>
                    </a>
                </li>
                <li class="table-view-cell media">
                    <a class="navigate-right" href="#tarif-student_<%=student.id %>">
                      <div class="media-body">Тариф</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>