<div class="pd">
    <h2>Тариф "<%=tarif.nameExt %>"</h2>
    Описание:
    <p>
        <%=tarif.description %>
    </p>
    <div>Стоимость: <%=tarif.price %></div>
</div>
<% if(studentId != undefined) { %>

<div class="box">
    <div class="box-header">Выбрать другой тариф</div>
    <div>
        <ul class="table-view">
            <% for(var i=0; i<tarifs.length; i++) { %>
            <% var tr = tarifs[i]; %>
            <li class="table-view-cell media">
                <a class="navigate-right" href="#tarif-change_<%=studentId %>">
                  <div class="media-body"><%=tr.name %></div>
                </a>
            </li>
            <% }%>
        </ul>
    </div>
</div>
<% } %>