<%
for(var i=0; i<tarifs.length; i++) {
    var t = tarifs[i];
%>
<div class="plank">
    <div class="plank-header">Тариф "<%=t.title %>"</div>
    <div class="plank-content">
        <p>
            <%=t.description %>
        </p>
        Стоимость: <b><%=(t.price + ' ' + t.priceDesc) %></b>
    </div>
</div>
<% } %>