<div class="profile-box">
    <div class="profile-header">
        <div class="profile-header--avatar">
            <div style="background-image: url('https://ws.classcard.ru/cab.online.ws<%=child.avatar %>');"></div>
        </div>
        <div class="profile-header--content">
            <div><b><%=child.lastName %> <%=child.firstName %></b></div>
            <div>Номер карты: <b><%=child.cardOperationsInfo.number %></b></div>
            <div>Баланс по питанию: <b><%=child.balance %> руб.</b></div>
            <div>Школа: <b><%=child.schoolInfo.name %></b></div>
            <div>Класс: <b><%=child.classInfo.name %></b></div>
        </div>
    </div>
</div>
<div class="ccm-table visit-control-line">
    <div>
        <div class="text-center" id="visit-btn-prev">
            <span class="glyphicon glyphicon-menu-left"></span>
        </div>
        <div class="text-center" id="visit-date">
            <%=vd.date %>
        </div>
        <div class="text-center" id="visit-btn-next">
            <span class="glyphicon glyphicon-menu-right"></span>
        </div>
    </div>
</div>