<% if(visits.length > 0) { %>
<div class="visits-box vertical-line">
    <% 
    for(var i=0; i<visits.length; i++) {
        var ev = visits[i];
    %>
    <div class="visits-box-line">
        <div class="ccm-table">
            <div>
                <div class="visits-box-left">
                    <%=(ev.type != 'out')?'<div'+((ev.type=='in')?' class="outin"':'')+'>'+ev.message+'</div>': ''%>
                </div>
                <div class="visits-box-text"><%=ev.time %></div>
                <div class="visits-box-right">
                    <%=(ev.type == 'out')?'<div class="outin">'+ev.message+'</div>' : '' %>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    </div>
</div>
<% } else { %>
    <div class="text-center">нет данных</div>
<% } %>