#chat-content { width: 100%; }

.chat-form {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0 -3px 10px rgba(0,0,0,0.5);
}

.chat-rooms > div { border-bottom: 2px solid #e38420; color: #777; position: relative; }
.chat-rooms > .active { border-bottom: 2px solid #fff; color: #333; }
.chat-room-notify { position: absolute; border-radius: 50px; font-size: 10px; border: 1px solid #fff; color: #fff; width: 15px; height: 15px; right: 0px; top: 0px; }
.visible {display: block;}
.unvisible {display: none;}

#message-box { overflow-y: scroll; width: 100%; overflow-x: hidden; }
#message-box > div { display: none; }
#message-box > div > div {padding: 2px 5px; }
#message-box > div > div > div { display: inline-block; border-radius: 10px; background: #fff; }

#message-box div.chat-ms-self { text-align: right; }
#message-box div.chat-ms-other { text-align: left; }
#message-box div.chat-ms-self > div { margin-left: 20px; border: 1px solid #e38420; padding: 2px 10px;}
#message-box div.chat-ms-other > div { margin-right: 20px; border: 1px solid #40a4d9; padding: 2px 10px;}
.chat-ms-name { font-weight: bold; }

.chat-group-box > div { border: 1px solid #efefef; border-radius: 5px; padding: 2px 5px; margin: 0px 2px 2px 2px ; }
.chat-group-box > div.active { border-color: #40a4d9; color: #e38420; }

.chat-contacts-box > div { border: 1px solid #efefef; border-radius: 5px; padding: 2px 5px; margin: 0px 2px 2px 2px ; }
.chat-contacts-box > div.active { border-color: #40a4d9; color: #e38420; }