@font-face {
    font-family: BaseCCM; /* Имя шрифта */
    src: url(/files/fonts/9533.ttf); /* Путь к файлу со шрифтом */
}

body { font-family: BaseCCM; font-size: 15px; background: url(../img/bg.jpg); }
#content { padding-top: 0px; }

div.cc-navbar {
    display: none;
    position: fixed;
    width: 100%;
    background-color: #e38420;
    top: 0px;
    left: 0px;
    z-index: 2999;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.cc-navbar-header { display: table; width: 100%; }
.cc-navbar-header > div { display: table-cell; vertical-align: middle; }
.cc-navbar-header > div.header { font-size: 1.5em; color: #fff; }
.cc-navbar-header > div.btn { text-align: center; font-size: 1.3em; width: 30px; color: #fff; }
.cc-navbar-header > div.btn > a { color: #fff; }

.ccm-table { display: table; width: 100%; }
.ccm-table > div { display: table-row; }
.ccm-table > div > div { display: table-cell;}

#btnMenu { position: relative; }
#btnMenu > div { position: absolute; display: none; top: 3px; right: 3px; border-radius: 100px; background-color: #40a4d9; font-size: 0.6em; width: 14px; text-align: center; }

#headerContent > div { padding: 0px 5px 5px 5px; }

#menuBlackScreen { position: fixed; top: 20px; left: 0px; z-index: 3000; background: rgba(0,0,0,0.6); height: 100%; width: 100%; }
#menuBox { position: fixed; top: 20px; left: 0px; z-index: 3001; background-color: #555; width: 250px; border-right: 1px solid #333; overflow: hidden;}

.menu-items { display: table; width: 100%; color: #fff; font-size: 1.3em; }
.menu-items a { color: #fff;}
.menu-item { display: table-row; }
.menu-item > div { padding: 8px 5px;}
.menu-item-title { display: table-cell; }
.menu-item-icon { display: table-cell; width: 30px; text-align: center; }
.menu-item-event { display: table-cell; width: 30px; text-align: right; }

.bar-tab { background-color: #e38420; }
.bar-tab .tab-item {color: #fff;}

header.bar { background-color: #e38420;}
header.bar a { color: #fff;}
.title { color: #fff; }

.bar-nav~.content {
    padding-bottom: 50px;
}
.pd {padding: 10px;}

/**** BOX *****/
.box {margin: 5px; border: 1px solid #40a4d9; border-radius: 5px; background-color: #fff; min-height: 20px;}
.box-header {background-color:#40a4d9; color: #fff; padding:5px; font-weight: bold;}
.box-list > div {display:table; table-layout: fixed; width:100%;border-bottom: 1px solid #40a4d9;}
.box-list > div:last-child {border-bottom: 0px;}
.box-list > div > div {display:table-cell; vertical-align: middle; }
.box-content { padding: 5px; }


/**** Форма авторизации *******/
/*.box-auth {*/
/*    margin: 30px auto; max-width: 300px;*/
/*}*/
/*.form-auth { background-color: #fff; border: 1px solid #40a4d9; border-radius: 5px; padding: 10px; text-align: center;}*/

.box-auth { position: absolute; top: 0; left: 0; display: table; width: 100%; height: 100%; }
.box-auth > div { display: table-row; }
.box-auth > div > div { display: table-cell; vertical-align: middle; text-align: center; }
.box-auth > .header > div, .box-auth > div.footer { height: 50px; }

.auth-logo { font-size: 40px; margin-bottom: 20px; font-weight: bold; }
.auth-logo span { color: #555; }
.auth-logo > img {height: 30px;}

.form-auth { padding: 10px; text-align:center; }

.form-auth .box { max-width: 300px; margin: 0px auto; }
.form-auth .box .box-content > div { margin: 5px 0; }

.box-auth > .footer { color: #777; font-size: 0.8em; }

.plank { width: 100%; box-shadow: 0 0 5px rgba(0,0,0,0.5); margin-top: 15px; background-color: #fff; }
.plank-header { font-size: 1.5em; font-weight: bold; padding: 2px 5px; color: #40a4d9; }
.plank-content { padding: 10px; }

/**** Profile ****/
.profile-box { display: table; width: 100%; }
.profile-header { display: table-row; width: 100%; }
.profile-header > div { display: table-cell; vertical-align: top; }
.profile-header--avatar { width: 85px; padding: 0px 5px; }
.profile-header--avatar > div { background-color: #fff; border: 2px solid #40a4d9; width: 80px; height: 80px; border-radius: 200px; background-size: cover;  box-shadow: 0 0 10px rgba(0,0,0,0.5); }

.profile-content { width: 100%; box-shadow: 0 0 5px rgba(0,0,0,0.5); margin-top: 15px; background-color: #fff; }
.pc-table { display: table; width: 100%; }
.pc-row { display: table-row; width: 100%;}
.pc-row > div { display: table-cell; vertical-align: top; padding: 5px; }
.profile-content--avatar { width: 85px; text-align: center; }
.profile-content--avatar > div { display: inline-block; background-color: #fff; border: 2px solid #40a4d9; width: 60px; height: 60px; border-radius: 200px; background-size: cover;  box-shadow: 0 0 10px rgba(0,0,0,0.5); }
.profile-menu { font-family: BaseCCM; text-align: center; padding: 5px 0px 15px 0px; width: 100%; }

/**** Lessons ****/
.lesson-name {padding-left: 5px;}
.lesson-time {width: 50px; color: #888;font-size: 0.6em; padding-left: 5px;}

/**** Visits ****/
.visit-control-line { margin-top: 5px; color: #fff; font-weight: bold;}
.vertical-line { background: url('/files/img/line.jpg') repeat-y; background-position: center; }
.centered-vert-line{
    background: #fff;	
    background: linear-gradient(180deg, transparent, #40a4d9, transparent);
    background-position: 50%;
    background-repeat: repeat-y;
    background-size: 3px auto;
}
.visits-box { text-align: center; margin-top: 15px; }
.visits-box-line { display: block; width: 300px; margin: 0px auto 15px auto; }
.visits-box-text { width: 60px; height: 60px; border: 3px #40a4d9 solid; border-radius: 200px; background-color: #fff; text-align: center; vertical-align: middle; font-weight: bold; }
.visits-box-left, .visits-box-right {  width: 120px; }
/*.visits-box-left > div, .visits-box-right > div { margin-top: 10px; border-bottom: 3px solid #40a4d9; }*/
.visits-box-left > div, .visits-box-right > div { margin-top: 14px; }
.visits-box-left > div.outin { margin-top: 10px; border-bottom: 3px solid #40a4d9; color: green; font-weight: bold; }
.visits-box-right > div.outin { margin-top: 10px; border-bottom: 3px solid #40a4d9; color: red; font-weight: bold; }

.sys-info {font-size: 0.8em;}

#load-screen { position: absolute; left: 0; top: 0; z-index: 5000; width: 100%; height: 100%; display: table; background: #444; background: radial-gradient(circle, #666, #222); }
#load-screen > div { display: table-cell; vertical-align: middle; text-align: center;}
.ls-text { color: #e38420; font-size: 0.8em; }
.ls-roller { text-align: center; }
.ls-roller > div { display: inline-block; width: 10px; height: 10px; border: 1px solid #e38420; border-radius: 5px; margin: 2px;}
.ls-roller > div.active { background: #fff; }

/** Blocks **/
.blocks { text-align: center; }
.blocks > div { display: inline-block; margin: 10px; width: 120px; vertical-align: top; padding: 15px 5px;}

/** News page **/
.news > div.box {  }
.news-item { display: table; width: 100%; }
.news-item > div { display: table-cell; vertical-align: top; }
.news-item > div.news-img { width: 50px; padding: 2px; }
.news-item > div.news-btn { width: 20px; vertical-align: middle; text-align: center; }
.news-item .news-img > img { width: 40px; }
.news-item .news-header { color: #e38420; font-size: 1.2em; }
.news-item .news-date { color: #999; text-decoration: italic; font-size: 0.8em; text-align: right; padding-right: 5px; }

.glyphicon-bg {font-size: 3em;}
.child-account {max-width: 300px; margin: 15px auto;}